* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "Product Sans";
  src: url("fonts/Product-Sans-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

.header {
  height: 80px;
  display: block;
  padding-top: 4%;
  padding-left: 8%;
  background-color: #eedbcd;
}

.logo {
  width: 140px;
  height: 44px;
}

.body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #eedbcd;
  overflow-x: hidden;
}

.text {
  font-size: 40px;
  font-family: "Product Sans", sans-serif;
  font-weight: bold;
}

.heading {
  display: flex;
  font-size: 64px;
  font-family: "Product Sans", sans-serif;
  font-weight: bold;
  justify-content: center;
}

.about {
  color: black;
}

.container {
  display: flex;
  place-items: center;
  justify-content: center;
  align-content: center;
  margin: auto;
  padding-top: 2%;
}

.text_p {
  font-size: 26px;
  font-family: "Product Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 50px;
  padding-left: 20%;
  padding-right: 20%;
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.space {
  padding-inline: 20px;
  padding-top: 40px;
}

.black {
  color: black;
  text-decoration: underline;
}

.center {
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.left {
  float: left;
  padding-left: 8%;
}

.space {
  padding-top: 1%;
}

.back {
  height: 30px;
  width: 30px;
}
