* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "Product Sans";
  src: url("fonts/Product-Sans-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

.header {
  height: 80px;
  display: block;
  padding-top: 4%;
  padding-left: 8%;
  background-color: #eedbcd;
}

.logo {
  width: 140px;
  height: 44px;
}

.body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #eedbcd;
  overflow-x: hidden;
}

.text {
  font-size: 40px;
  font-family: "Product Sans", sans-serif;
  font-weight: bold;
}

.heading {
  display: flex;
  font-size: 64px;
  font-family: "Product Sans", sans-serif;
  font-weight: bold;
  justify-content: center;
}

.about {
  color: black;
}

.container {
  display: flex;
  place-items: center;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.text {
  font-size: 26px;
  font-family: "Product Sans", sans-serif;
  text-align: center;
  padding: 50px;
  padding-left: 400px;
  padding-right: 400px;
}

.footer {
  padding: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 2%;
  background-color: white;
  text-align: center;
  font-family: "Product Sans";
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.space {
  padding-inline: 20px;
  padding-top: 48px;
}

.black {
  color: black;
  text-decoration: underline;
}
